<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
	<!-- <property name="host" value="smtp.gmail.com" />
	<property name="port" value="587" />
	 -->
	      <property name="host" value="mail.ceb.lk" />
	      
	       <!-- <property name="host" value="10.128.3.36" />
	        -->
	 	             <property name="port" value="587" />  
	 	            
	 	          <!--  <property name="port" value="25" />  -->  
	    <property name="username" value="mvmms" />
	<property name="password" value="y8mKLPx1" />
		
	<property name="javaMailProperties">
		<props>
           	<prop key="mail.smtp.auth">true</prop>
           	<!-- <prop key="mail.smtp.starttls.enable">true</prop>-->
          
       	</props>
	</property>
</bean>
	
<bean id="mailMail" class="com.it.piv.util.common.MailMail">
	<property name="mailSender" ref="mailSender" />
	<property name="simpleMailMessage" ref="customeMailMessage" />
</bean>
	
<bean id="customeMailMessage"
	class="org.springframework.mail.SimpleMailMessage">

	<property name="from" value="mvmms@ceb.lk" />
	<property name="to">
	<value>
		<![CDATA[
			%s
		]]>
	</value>
    
	</property>
	<property name="cc">
	<value>
		<![CDATA[
			%s
		]]>
	</value>
    
	</property>
	
	<property name="subject">
	<value>
		<![CDATA[
			%s
		]]>
	</value>
    
	</property>
	<property name="text">
	<value>
		<![CDATA[
Dear %s,
%s
		]]>
	</value>
    </property>
</bean>

</beans>
